<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <a class="right" (click)="logout()" style="text-decoration: underline; cursor: pointer;">Logout</a>
            <br/>
            <h2 class="text-center">Welcome {{user.firstName}} {{user.lastName}} !</h2>
        </div>

    </div>
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <article routerLink="/client-view/boxing" class="card analytics-card">
                <div class="text-center">
                    <h4 class="card-title capital">Boxing</h4>
                </div>
            </article>
            <article routerLink="/client-view/yoga" class="card analytics-card">
                <div class="text-center">
                    <h4 class="card-title capital">Yoga</h4>
                </div>
            </article>
        </div>
    </div>
</div>